@mixin inset-box-shadow($shadow1, $h1, $w1, $spread1, $shadow2, $h2, $w2, $spread2, $shadow3, $h3, $w3, $spread3){
	box-shadow: $shadow1 $h1 $w1 $spread1, $shadow2 $h2 $w2 $spread2 inset,$shadow3 $h3 $w3 $spread3 inset;
	-webkit-box-shadow: $shadow1 $h1 $w1 $spread1, $shadow2 $h2 $w2 $spread2 inset,$shadow3 $h3 $w3 $spread3 inset;
}
