// Colors
$background-color: #f7f7f7;
$text-color: #222;
$heading-color: #2c3e50;
$link-color: #f6291d;
$alert-green: #d6e9c6;
$alert-error: #EED3D7;
$gray-color: #676767;
$shadow:rgba(20,20,20,0.1);
