<% if expiry_date > Date.today && expiry_date <  3.week.from_now %>
  <div class="expiry_color red"></div>
<% elsif expiry_date > Date.today && expiry_date < 3.month.from_now %>
  <div class="expiry_color orange"></div>
<% elsif expiry_date > Date.today && expiry_date < 6.month.from_now %>
  <div class="expiry_color yellow"></div>
<% elsif expiry_date > 6.month.from_now %>
  <div class="expiry_color green"></div>
<% end %>