<%= simple_form_for(@domain, html: {class: 'form-inline' }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name, :input_html => { :class => "span8 input-large" }, :label => false, :placeholder => "Enter a domain name" %>
  </div>
<% end %>
