<div class="container">
<div class="row">
  <div class="span12 center"><%= render 'form' %>
</div>
<ul class="row domains">
  <% @domains.each do |domain| %>
    <li class="span10 offset1">
    <% if domain.expiry_date %><%= render 'expiry_color', :expiry_date => domain.expiry_date %><% end %>
      <h3><%= domain.name %></h3>
      <div class="expiry-date"><%= domain.expiry_date%></div>
      <div class="controls">
        <%= link_to 'Delete',
                    domain_path(domain),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger' %>
      </div>
    </li>
  <% end %>
</ul>


</div><!-- container -->
