@import "globals/*";

ul.domains{
	list-style:none;
	li{
		border:1px solid 	darken($background-color, 8%);
		border-top:none;
		padding-bottom:10px;
		margin-bottom:20px;
		border-radius:2px;
		position:relative;
		h3{
			margin-left:20px;
		}
		div.expiry-date{
			margin-left:20px;
		}
		.controls{
			position:absolute;
			right:0px;
			top:4px;
			background-color:darken($background-color, 4%);
			border-left:1px solid 	darken($background-color, 8%);
			height:96%;
			width:14%;
			.btn{
				margin-left:24px;
				margin-top:24px;
			}
		}
		div.expiry_color{
			height:4px;

		}
		div.expiry_color.green{
			background-color:#1abc9c;
		}
		div.expiry_color.yellow{
			background-color:#f1c40f;
		}
		div.expiry_color.orange{
			background-color:#e67e22;
		}
		div.expiry_color.red{
			background-color:#c0392b;
		}

	}
}