@import "globals/*";
body{
	background: $background-color;
	color:lighten($heading-color, 10%);
	font-family: "myriad-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top:40px;
}
a{
	color: $link-color;
	&:hover{
		color: darken($link-color, 20%);
		text-decoration:none;
	}
}
.center{
	text-align:center;
}
p{
	color:lighten($heading-color, 10%);	
}

h1, h2, h3, h4, h5{
	letter-spacing: -0.05em;
	font-weight:600;
	color: $heading-color;
}

footer{
	font-size:13px;
	margin-top:100px;
	margin-bottom:40px;
	p{
		color:desaturate(lighten($heading-color, 45%), 74%);		
	}

}
.navbar-inner{
	background-image: none;
	background-color: darken($background-color, 1%);
	margin-left: 50px;
	margin-right: 50px;
	margin-top:10px;
	border-radius: 2px;
	@include inset-box-shadow($shadow, 0px, 1px, 3px,$shadow, 0px, -1px, 12px,rgba(255, 255, 255, 0.5), 0px, 1px, 0px);
	border-color:fade-in($shadow, 0.18); 	
}
.well{
	@include inset-box-shadow($shadow, 0px, 1px, 3px,$shadow, 0px, -1px, 12px,rgba(255, 255, 255, 0.5), 0px, 1px, 0px);
	border-radius: 2px;
	border-color:fade-in($shadow, 0.18);
	background-color: darken($background-color, 1%);
}
.btn{
	border-radius: 2px;
}

input.input-large{
	padding: 10px 12px;
	font-size: 20px;
	line-height: 32px;
	font-weight: 300;
	border-radius:2px;
}