<!DOCTYPE html>
<html>
<head>
  <title>Domain Checker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
 <%= csrf_meta_tags %>
  
  <script type="text/javascript" src="//use.typekit.net/urf5uuz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div class="container">
  <% flash.each do |name, msg| %>
  	<div class="animated bounceInDown alert alert-<%= name == :notice ? "success" : "error" %>">
  		<button type="button" class="close" data-dismiss="alert">&times;</button>
  		<%= msg %>
  	</div>
  <% end %>
  </div>

	 
<%= yield %>
<footer>
  <p class="center">Copyright © 2013 Bassem Shaker. All Rights Reserved</p>
</footer>
</body>
</html>
